---
layout: centered
title: "pics"
---
<ul class="posts">
	<li class="post_listing">
    {% include image.html title="forest path" name="gallery/DSC08396.jpg" caption="A bit of one of my favourite forest trails" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="grain" name="gallery/DSC08395.jpg" caption="Taking bad pictures can be just as beautiful" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="bird watching nest" name="gallery/DSC08386.jpg" caption="A bird watchers nest" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="sign" name="gallery/DSC08382.jpg" caption="WÄRK, I think?" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="sky" name="gallery/DSC08380.jpg" caption="sky" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="tree" name="gallery/DSC08335.jpg" caption="I climbed into a tree for this one" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="tree" name="gallery/DSC08330_compress.jpg" caption="Canoing in Delsjön" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="baby doll in tree" name="gallery/DSC08259.jpg" caption="I found it like that" %}
	</li>
</ul>
