---
layout: centered
title: "pics"
---
<ul class="posts">
	<li class="post_listing">
    {% include image.html title="forest path" name="https://pbs.twimg.com/media/GNcQ64cWgAALeil?format=jpg&name=large" caption="A bit of one of my favourite forest trails" %}
	</li>
  <hr>
	<li class="post_listing">
    {% include image.html title="grain" name="gallery/cat.jpg" caption="cat!" %}
	{% include image.html title="grain" name="gallery/jud.jpg" caption="travelling in the occupied west bank" %}
	{% include image.html title="grain" name="gallery/dog.jpg" caption="the cutest dog ever" %}
	</li>
  <hr>
</ul>
