---
layout: default
---
<div class="centercol">
<header>
  <nav><ul>
      <li class="sitetitle">
        <div class="titlecontainer">
          <a href="/">Tamar's cozy space.</a>
        </div>
      </li>
  </nav></ul>
  <hr>
  <nav><ul>
    <li><a href="/">blog</a></li>
    <li><a href="/pics.html">pics</a></li>
    <li><a href="/about.html">about</a></li>
  </nav></ul>
  <hr>
</header>
	{{ content }}
<footer>
  <hr>
  <div class="badges">
    <img src="/assets/img/church.gif" alt="church of alonzo">
    <img src="/assets/img/gender.gif" alt="abolish gender">
    <img src="/assets/img/computer.gif" alt="math on the computer">
  </div>
</footer>
</div>
